:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color); 
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    letter-spacing: 0,03em;
}

p,
h1, 
h2,
h3,
h4,
h5, 
h6,
ul, 
li {
margin: 0;
padding-left: 0;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}
/* Шапка */

.header {
    padding: 32px;
    padding-bottom: 32px;
}
.logo {
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo span {
    color: var(--accent-color);
}


.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}

.contacts .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color); 
}

.current:hover,
.current:focus {
    color: var(--accent-color);
}

/* Герой */

.hero{
    padding-top: 200px;
    padding-bottom: 280px;
    text-align: center;
}

.hero-btn {
    border-radius: 4px;
}

.hero .hero-btn {
    font-family: inherit;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero-title {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 40px;
}


/* Преимущества */

.benefits-title {
    padding-top: 94px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);

}
.benefits-text { 
    padding-bottom: 94px; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* Услуги */

.service-title,
.team-title, 
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}

.service-title {
    padding-top: 94px;
    padding-bottom: 50px;
}
.service-list .list {
    padding-bottom: 94px;
}

/* Team */

.section-title {
    padding-top: 94px;
    padding-bottom: 50px;
}

.section-team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    }

.list .title {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        
}
    
.list .text {
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
}


/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .logo {
    color: var(--primary-bg-color);
}

.logo span{
    color: var(--accent-color);
}

.footer, .hero {
    background-color: #2F303A;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .link:hover,
.footer .link:focus {
   color: var(--accent-color);
}
.footer .address-text {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Portfolio styles */

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

.projects-btn:hover,
.projects-btn:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.container .projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.container .projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
